.title-about{
               text-align: center;

}
.about-width{
               height: 700px;
}
.about-info{
               margin-top: 40px;
               margin-top: 20px;
}
.title-about{
               font-size: 50px;
               font-family: Arial, Helvetica, sans-serif;
}