/* ___________ not found CSS parts _____ */

.error-part{
               font-size: 80px;
}
.error-p{
               font-size: 30px;
               color: rgb(48, 47, 47);
}
.notfound{
               height: 500px;
}

/* ____________ END ___________  */