/* 
.home{
height: 700px;
} */
.home-part{
               font-size: 25px;
               font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
.home-page{
               height: 700px;
}